*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	font-family: 'Inter', sans-serif;
}
a{text-decoration: none;}
.flexbox{
	display: flex;
	flex-wrap: wrap;
}
.jc-center{
	justify-content: center;
}
.jc-between{
	justify-content: space-between;
}
img{max-width: 100%;}

.checkout-page .col{width: 100%;max-width: 50%;padding: 0px 25px;}
.checkout-page .col.left-col .col-wrap{padding-top:25px;}
.checkout-page .page-width{width: 100%;max-width: 1260px;margin: 0px auto;}
.checkout-page .checkout-header{text-align: center;}
.checkout-page .breadcrumb{padding-top: 15px;}
.checkout-page .breadcrumb .breadcrumb-wrap{padding: 0;margin: 0;display: flex;align-items: center;justify-content: center;list-style:none;}
.checkout-page .breadcrumb .breadcrumb-wrap li a{font-size: 14px;color: #666;}
.checkout-page .breadcrumb .breadcrumb-wrap li a:hover{color: #c39990;}
.checkout-page .breadcrumb .breadcrumb-wrap li:not(:last-child){padding-right: 20px;position: relative;}
.checkout-page .breadcrumb .breadcrumb-wrap li:not(:last-child):after{content: "";width:10px;height:10px;display: block;position: absolute;background-image: url('images/right-arrow.png');background-size: contain;background-repeat: no-repeat;background-position: center;opacity:0.5;top:7px;right: 3px;}
.checkout-page .checkout-tab-section{padding-top: 50px;}
.checkout-page .delivered-form{padding-bottom: 40px;}
.checkout-page .checkout-tab-section .tab-section-title{font-size:22px;text-align: center;padding-bottom:30px;}
.checkout-page .checkout-tab-section .tab-option{width: 100%;max-width: 200px;text-align: center;border: 1px solid #999;line-height: 1;padding: 20px 10px;border-radius: 5px;cursor: pointer;}
.checkout-page .checkout-tab-section .tab-option svg path,
.checkout-page .checkout-tab-section .tab-option svg path{transition: all 0.2s ease-in-out}
.checkout-page .checkout-tab-section .tab-option:not(:last-child){margin-right: -1px;}
.checkout-page .checkout-tab-section .tab-option.active,
.checkout-page .checkout-tab-section .tab-option:hover{border-color: #70260f;;z-index: 1;color:#70260f;}
.checkout-page .checkout-tab-section .tab-option.active svg path,
.checkout-page .checkout-tab-section .tab-option:hover svg path{fill:#70260f;}

.tab-content-group .checkout-form .form-header{padding-top: 40px;padding-bottom:15px;}
.tab-content-group .checkout-form .form-header h4{font-size: 20px;}
.tab-content-group .checkout-form .form-header a{color: #70260f;}
.tab-content-group .checkout-form .input-field{position: relative; background-color: #fafafa;padding: 7px 25px;overflow: hidden;}
.tab-content-group .checkout-form .input-field.selector-dropdown select{padding:25px 15px 5px 15px;}
.tab-content-group .checkout-form .input-field:not(.emailfield).selector-dropdown label{top:15px;pointer-events:none;}
.tab-content-group .checkout-form .input-field.emailfield{padding: 15px 25px;}
.tab-content-group .checkout-form .emailfield{border-top: 1px solid #ccc;}
.tab-content-group .checkout-form .input-field input,
.tab-content-group .checkout-form .input-field select{font-family: 'Inter', sans-serif;max-width:100%;width:100%;-webkit-outline: none;-moz-outline: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;outline: none;border:1px solid #ccc;box-shadow: none;background-color: #fff;font-size: 14px;line-height: 1;padding: 15px;transition: all 0.2s ease-in-out;border-radius: 4px;line-height:1.4;}
.tab-content-group .checkout-form .input-field input::-webkit-input-placeholder{color: #fff;}
.tab-content-group .checkout-form .input-field input:-ms-input-placeholder{color: #fff;}
.tab-content-group .checkout-form .input-field input::placeholder{color: #fff;}
.tab-content-group .checkout-form .input-field label{pointer-events:none;display: block;width: 100%;font-size: 14px;line-height: 1.4;position: absolute;top:32px;left: 41px;color: #999;transition: all 0.2s ease-in-out;user-select: none;cursor: pointer;}
.tab-content-group .checkout-form .input-field:not(.emailfield) label{top:22px;}
.tab-content-group .checkout-form .input-field input:focus + label,
.tab-content-group .checkout-form .input-field.active label{top:20px;transition: all 0.2s ease-in-out;}
.tab-content-group .checkout-form .input-field:not(.emailfield) input:focus + label,
.tab-content-group .checkout-form .input-field:not(.emailfield).active label{top:12px;}
.tab-content-group .checkout-form .input-field input:focus,
.tab-content-group .checkout-form .input-field.active input{padding: 25px 15px 5px 15px;transition: all 0.2s ease-in-out;}
.tab-content-group .checkout-form .input-field .input-icon{display: flex;position: absolute;width: 20px;top: 32px;right: 40px;}
.tab-content-group .checkout-form .input-field select{cursor: pointer;background-image: url(images/down-arrow.png);background-repeat: no-repeat;background-position: right 15px center;background-size: 13px;}
.tab-content-group .checkout-form .input-field-row .row-2{width: 100%;max-width: 50%;}
.tab-content-group .checkout-form .input-field-row .left-row{padding-right: 10px;}
.tab-content-group .checkout-form .input-field-row .right-row{padding-left: 10px;}
.tab-content-group .checkout-form .input-field-row .right-row.input-field label{left:27px;}
.tab-content-group .checkout-form .save-btn{padding: 7px 25px;}
.tab-content-group .checkout-form .save-btn .btn{appearance:none;-webkit-appearance:none;-moz-appearance:none;outline: none;-webkit-outline: none;-moz-outline: none;box-shadow: none;border:1px solid #c39990;width: 100%;text-align: center;background-color: #c39990;color: #fff;border-radius: 4px;line-height: 1;padding: 14px;font-size: 16px;cursor: pointer;transition: all 0.2s ease-in-out}
.tab-content-group .checkout-form .save-btn .btn:hover{background-color: transparent;color: #c39990}
.tab-content-group .checkout-form .back-btn{text-align: center;padding-top:15px;}
.tab-content-group .checkout-form .back-btn a{color: #c39990;font-size: 14px;position: relative;padding-left: 15px;background-image: url('images/left-arrow.png');background-repeat: no-repeat;background-size: 6px;background-position: left center;transition: all 0.2s ease-in-out}
.tab-content-group .checkout-form .back-btn a:hover{padding-left: 25px;padding-right:10px;}

.checkout-faq{padding-bottom: 100px;padding-top: 50px;}
.checkout-faq .faq-header{border-top: 1px solid #ccc;padding-top: 30px;padding-bottom: 30px;}
.checkout-faq .faq-header h2{font-size: 30px;}
.checkout-faq .clsoe-icon{width: 20px;display: flex;align-items: center;cursor: pointer;}
.checkout-faq .clsoe-icon svg{width: 100%;}
.checkout-faq .faq-row{border-top:1px solid #ccc; }
.checkout-faq .faq-question{padding: 15px 0px;cursor: pointer;}
.checkout-faq .faq-question h5{font-size: 16px;font-weight: 600;position: relative;}
.checkout-faq .faq-question h5 span{position: absolute;width: 16px;height: 16px;display:flex;align-items: center;justify-content: center;right: 0px;top: 2px;transform: rotate(0deg);transition: all 0.2s ease-in-out;}
.checkout-faq .faq-question h5 span:after{content: "";width: 100%;height: 2px;display: block;position: absolute;background-color: #333;}
.checkout-faq .faq-question h5 span:before{content: "";width:2px;height: 16px;display: block;position: absolute;background-color: #333;}
.checkout-faq .faq-question h5.minus span{transform: rotate(45deg);}
.checkout-faq .answer-wrap{padding:20px 0px 30px;font-size: 14px;color: #666;line-height: 1.4;}
.checkout-faq .faq-answer{display: none;}


.checkout-page .right-col .col-wrap{background-color: #fafafa;padding:30px 25px;position: sticky;position: -webkit-sticky;top: 15px;}

.checkout-page .product-list{border: 1px solid #ccc;background-color: #fff;padding: 15px;}
.checkout-page .product-list:not(:first-child){margin-top: 15px;}
.checkout-page .product-list .product-image{width: 100%;max-width: 100px;position: relative;}
.checkout-page .product-list .product-image .product-image-wrap{position: relative;overflow: hidden;display:block;}
.checkout-page .product-list .product-image .product-image-wrap:after{content: "";width: 100%;padding-bottom: 80%;display: block;}
.checkout-page .product-list .product-image .product-image-wrap img{position: absolute;top: 0px;left:0px;width: 100%;height: 100%;object-fit: cover;}
.checkout-page .product-list .product-image .number-itam{position: absolute;font-size: 10px;z-index: 1;width: 16px;height: 16px;display: flex;align-items: center;justify-content: center;border-radius: 100%;background-color: #f5f5f5;color: #888;right: -8px;top: -8px;}
.checkout-page .product-list .product-details{width:100%;max-width: calc(100% - 200px);padding: 0px 15px;display: flex;flex-direction: column;justify-content: center;}
.checkout-page .product-list .product-price{width: 100%;max-width: 100px;display: flex;align-items: center;justify-content: flex-end;}
.checkout-page .product-list .product-price p{font-size:16px;color: #333;font-weight:600;}
.checkout-page .product-list .product-details .variants{font-size: 14px;color:#888;}
.checkout-page .product-list .product-details .variants span{font-weight: 500;color: #666;}
.checkout-page .product-list .product-details .pro-title{padding: 0px 0px 5px;}
.checkout-page .product-list .product-details .pro-title a{color: #333;}
.checkout-page .product-list .product-details .pro-title a:hover{color: #c39990;}

.checkout-page .cart-details{margin-top:30px;border: 1px solid #ccc;background-color: #fff;padding: 15px;}
.checkout-page .cart-details ul{list-style: none;padding: 0px;margin: 0px;}
.checkout-page .cart-details ul li{display: flex;align-items: center;justify-content: space-between;font-size: 15px;font-weight: 500;margin-bottom: 10px;}
.checkout-page .cart-details .tab-content-group .checkout-form{width: 100%;}
.checkout-page .cart-details .tab-content-group .checkout-form .input-field{padding: 0px;}
.checkout-page .cart-details .tab-content-group .checkout-form .input-field input{padding-right: 60px;}
.checkout-page .cart-details .tab-content-group .checkout-form .input-field label{top: 16px;left: 15px;}
.checkout-page .cart-details .tab-content-group .checkout-form .input-field:not(.emailfield) input:focus + label, 
.checkout-page .cart-details .tab-content-group .checkout-form .input-field:not(.emailfield).active label{top: 8px;}
.checkout-page .cart-details .apply-btn{appearance: none;outline: none;box-shadow: none;font-family: 'Inter', sans-serif;border: none;background: transparent;font-weight: 600;color: #777;font-size: 14px;position: absolute;top: 14px;z-index: 2;right: 15px;cursor: pointer;}
.checkout-page .cart-details .apply-btn:hover{color: #c39990;}
.checkout-page .cart-details ul li.tab-content-group{display: block;margin-bottom: 20px;}
.checkout-page .cart-details .promo-text .redeem{position: relative;color: #c39990;cursor: pointer;}
.checkout-page .cart-details .promo-text{padding-bottom: 15px;}
.checkout-page .cart-details .promo-text .redeem:after{content: "";width: 10px;height: 10px;background-image: url(images/left-arrow.png);background-repeat: no-repeat;display: block;position: absolute;background-size: contain;right: -20px;top: 7px;transform: rotate(90deg);transition: all 0.2s ease-in-out}
.checkout-page .cart-details .promo-text .redeem.active:after{transform: rotate(-90deg);top: 3px;}
.checkout-page .cart-details ul li.cart-total{margin: 0px;font-size:20px;font-weight:600;    border-top: 1px solid #ccc;padding-top: 15px;}
.checkout-page .footer-link{padding-top:15px;}
.checkout-page .footer-link a{font-size: 12px;color: #c39990;}
.checkout-page .footer-link a:hover{color: #000;}


.checkout-page .checkout-tab-section .tab-option .option-wrap{display:flex;align-items:center;justify-content:center;}
.checkout-page .checkout-tab-section .tab-option .option-wrap svg{width:25px;height:25px;margin-right:10px;}
.checkout-page .tab-form-group{background: #fafafa;padding: 15px 0px;}

.checkout-page .checkout-tab-section .tab-content-group .tab-content:not(.active){display: none;}
.mobile-only{display:none;}
